body{
    /* background-color:#cccac9; */
    background-image: url('../images/ksmbadge.jpg')
}
.navbar{
    background-color: rgb(15, 128, 15)!important ;
}
.navbar-dark{
    background-color: rgb(15, 128, 15) !important ;
    border-color: rgb(15, 128, 15) !important ;
}
.navbar-brand img{
    border: 1 solid red !important;
}
 #ksmvgc_label{
     margin-left: 5px;
     color: khaki;
 }