{% extends 'base.html' %}

{% block content %}
    {% if excos %}
        {% for exco in excos %}
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ exco.post }}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}