{% extends 'base.html' %}
{% block title %}Executives{% endblock %}
<style>
    @media (max-width: 499px){
    .row h3::before{
        content: "Executives"
    }
    .row h3{
        border: 1px solid red;
    }
}
</style>
{% block content %}
    {% if excos %}
    <div class="card">
        <div class="card-body">
            <h4 id="exco_head" class="card-title mb-4"> {{ option }}</h4>
            <div class="row">
                {% for exco in excos %}
                    <div class="col-4">
                        <div class="quotes">
                            <div class="box box1">
                                {% if exco.where == "KSM" %}
                                    <img id="exco_photo" src="../../static/vgcsc/images/KSM_default.jpg" 
                                        class="rounded-circle mx-auto d-block" alt="...">
                                <!-- <p>The first step toward success is taken when you refuse to be a captive of the environment in which you first find yourself. </p> -->
                                    <p class="card-text" ><small class="exco_name" >WB. {{ exco.name }} ({{ exco.alias }})</small></p>
                                {% else %}
                                {% if exco is None %}
                                    <h6>No Record</h6>
                                {% endif %}
                                    <img id="exco_photo" src="../../static/vgcsc/images/LSM_Default.jpg" 
                                        class="rounded-circle mx-auto d-block" alt="...">
                                    <!-- <p>The first step toward success is taken when you refuse to be a captive of the environment in which you first find yourself. </p> -->
                                    <p class="card-text" ><small class="" >Sr. {{ exco.name }}</small></p>
                                {% endif %}
                            </div>
                            <div class="bg"></div>
                            
                        </div>
                    </div>
                {% endfor %}
            </div>
         </div> <!--end card-body -->
    </div> <!--end card -->
    {% endif %}

    <!-- <div class="card bg-dark text-white">
        <img src="..." class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div> -->
{% endblock %}