{% extends 'base.html' %}
{% block title %}Executives{% endblock %}
<style>
    @media (max-width: 499px){
    .row h3::before{
        content: "Executives"
    }
    .row h3{
        border: 1px solid red;
    }
}
</style>
{% block content %}
    {% if excos %}
        <div class="row">
                <h3 id="exco_head" class="card mb-3"  style="width: 40rem; margin: 0 auto; margin-bottom: 10px; text-align:center; background-color: green; color: antiquewhite;">The Current Executives of VGC Sub-Council</h3>
        </div>
        <div class="row">
            {% for exco in excos %}
                <div class="col-sm-4">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../static/images/KSM_default.jpg" class="card-img" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                <h6 class="card-title">{{ exco.post }}</h5>
                                <!-- <p class="card-text">{{ exco.name }}</p> -->
                                <p class="card-text"><small class="text-muted">{{ exco.name }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- <div class="card bg-dark text-white">
        <img src="..." class="card-img" alt="...">
        <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text">Last updated 3 mins ago</p>
        </div>
    </div> -->
{% endblock %}