{% extends 'base.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div id="gallery_card" class="card bg-info text-dark">
                <img id="galleryImg" src="../../static/images/inaug1.JPG" class="card-img" alt="...">
                <!-- <div class="card-img-overlay card-footer">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div> -->
            </div>
        </div>
    </div>
{% endblock %}