{% extends 'base.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}

     <!--  -->
     <h4>{{ name }}</h4>
    <div class="row">
        <!-- <div class="col-md-12"> -->
            {% if photos %}
            {% for photo in photos %}
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4">
      
              <!--Image-->
              <div class="view overlay z-depth-1-half">
                <img src="../../static/images/uploads/{{ photo.name }}" style="max-height: 200px; width:100%;" class="img-fluid" alt="{{photo.name}}">
                <a href="">
                  <div class="mask rgba-white-light"></div>
                </a>
              </div>
      
            </div>
            <!--Grid column-->
            
            
            <!-- <div id="gallery_card" class="card bg-info text-dark">
                <img id="galleryImg" src="../../static/images/inaug1.JPG" class="card-img" alt="...">
                <div class="card-img-overlay card-footer">
                    <h6 class="card-title">Card title</h6>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text">Last updated 3 mins ago</p>
                </div>
            </div> -->
            
                <!-- <div><p style="color:#000;">{{ photo.name }}</p></div> -->
            {% endfor %}
            {% endif %}
        <!-- </div> -->
    </div>
{% endblock %}