{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}

{% block carousel %}
  <div id="home-carousel" class="row">
    <div class=" col-lg-1 col-xs-2 "></div>
    <div class=" col-lg-10 col-xs-10  ">
      <div id="indicators" class="align-items-center my-5 carousel slide carousel-fade" data-bs-ride="carousel">
        <!-- <div class="col-md-2"></div> -->
        <div class="carousel-inner">
          {% if carousel %}
            <!-- <p>{{ carousel.count()  }}</p> -->
            
              <!-- <ol class="carousel-indicators">
                
                <li data-bs-target="#indicators" data-slide-to="0"></li>
                <li data-bs-target="#indicators" data-slide-to="2"></li>
                <li data-bs-target="#indicators" data-slide-to="1"></li>
                <li data-bs-target="#indicators" data-slide-to="3"></li>
              </ol> -->
            {% for img in carousel %}
            {% set i = loop.index0 %}
              {% if i == 0 %}
              <div class="carousel-item active img-responsive">  
                <img src="../../static/images/uploads/{{ img.name }}" class="img-fluid rounded d-block w-100" alt="{{img.caption}}">
                <div class="carousel-caption d-none d-md-block">
                  
                  <h6 class="caption"> {{ img.caption }}</h6>
                </div>
              </div>
              {% else %}
                <div class="carousel-item img-responsive">  
                  <img src="../../static/images/uploads/{{ img.name }}" class="img-fluid rounded d-block w-100" alt="{{img.caption}}">
                  <div class="carousel-caption d-none d-md-block">
                    
                    <h6 class="caption"> {{ img.caption }}</h6>
                  </div>
                </div>
              {% endif %}
              <!-- <div class="carousel-item active">  
                <img src="../../static/images/uploads/{{ img.name }}" class="d-block w-100 img-thumbnail" style="height:350px" alt="g">
              </div> -->
            {% endfor %}
          {% else %}
              <h1>None</h1>
          {% endif %}
          <a class="carousel-control-prev" href="#indicators" role="button" data-bs-target="#indicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#indicators" role="button" data-bs-target="#indicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
        </div> <!-- end carousel-inner, col-md-8-->
      </div> <!-- end carousel div,  id=indicators -->
    </div> <!-- end col -->
    <div class=" col-lg-1 col-xs-2 "></div>
  </div> <!-- end row -->
{% endblock %}

{% block content %}
  <!-- Carousel section  -->
  
  <div class="row">
      <div class="col-lg-7 mb-5">
        <div id="history_pane" class="card">
          <div class="card-header" >Welcome to the official site VGC Sub-Council</div>
          <div class="card-body">
              <!-- <h5 class="history_title card-title" >Welcome to the official site VGC Sub-Council</h5> -->
              <!-- <h5 class="history_title card-title" >A Brief history of VGC Sub-Council</h5> -->
              <p class="card-text">
                {{history[:800]}}
              </p> 
              <a href="#" class="card-link">More ...</a>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div> <!-- history pane-->
      </div> <!-- col-lg-8 -->
      <div class="col-lg-5 mb-5 col-xs-12">
        {% if news_feed %}
        <div id="news" >
          <div class="card">
            <div class="card-header">
              Information Corner 
            </div>
            <div class="card-body"> 
              <!-- <h5 class="card-title" style="text-align:center;" >Information Corner </h5> background-color: #696 -->
              <!-- <!-- <span class="news_head ">Information Corner</span> -->
              <div class="list-group">
              {% for news in news_feed %}
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between ">
                    <h6 class="mb-1 news_title">{{ news.topic }}</h6>
                    <small class="news_content"> {{news.date_created}}</small>
                  </div>
                  <p class="mb-1 news_content">{{ news.content[:100] }} <span>...</span></p>
                  <small>Donec id elit non mi porta.</small>
                </a>
              {% endfor %}
              </div> <!-- end list-group -->
            </div> <!-- end card-body -->
          </div> <!--end card -->
        </div> <!-- end news -->
        {% endif %}
      </div> <!-- end col -->
  </div>

  
 
  <div class="row">
    <div class="col-lg-4 mb-5">
      <!-- <div class="row">
        <div class="col-lg-12"> -->
          <div class="card anthem">
            <p class="card-header">
              KSM Anthem
            </p>
            <div class="card-body">
              <!-- <h6 class="card-title">KSM Anthem</h6> -->
              <!-- <ol class="card-text">
                <li>Mathias Kalemba, dear Saint Mulumba
                  Brave Champion of faith for all Africa
                  Our Patron art thou do pray for your Knights
                  Your faith and courage to emulate.
                  </li>
                <li>With four limbs chopped off, you still derided
                  And strongly disdained satanic fury
                  You lingered limbless Thursday thro’ Sunday
                  To God your soul then commended.</li> -->
              </ol>
              <p class="card-text">Mathias Kalemba, dear Saint Mulumba
                  Brave Champion of faith for all Africa
                  Our Patron art thou do pray for your Knights
                  Your faith and courage to emulate.
              </p>
              <a href="#" class="card-link">Full Anthem</a>
            </div>
          </div>
        <!-- </div>
      </div> end row -->
      <!-- <p></p> -->
    </div> <!-- col-lg-4 -->
    <!-- <div class="row"> -->
      <div class="col-lg-4">
        <div class="card anthem">
          <div class="card-header">Ladies of St. Mulumba (LSM)</div>
          <div class="card-body">
            <!-- <h5 class="card-title">LSM Anthem</h5> -->
            <p class="card-text">The Ladies of the Order of Knights of 
              St. Mulumba Nigeria are the wives of Knights of St. Mulumba. 
              The LSM is headed at the National Level by the Noble President, 
              at the Metropolitan Council by the Worthy President and at the 
              Subordinate councils by Sub council Presidents.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-5">
        <div class="flip-card" tabIndex="0">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card anthem">
                <div class="card-header">Ladies of St. Mulumba (LSM)</div>
                <div class="card-body">
                  <!-- <h5 class="card-title">LSM Anthem</h5> -->
                  <p class="card-text">The Ladies of the Order of Knights of 
                    St. Mulumba Nigeria are the wives of Knights of St. Mulumba. 
                    The LSM is headed at the National Level by the Noble President, 
                    at the Metropolitan Council by the Worthy President and at the 
                    Subordinate councils by Sub council Presidents.</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back">
              <!-- <h3>Whoaaa!!!</h3> -->
              <div class="card anthem">
                <div class="card-header">LSM Anthem</div>
                <div class="card-body">
                  <p class="card-text">
                    <ol>
                      <li>In Jesus Tiriumphant</li>
                    </ol>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-- </div> end row -->
  </div>
{% endblock %}