{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block carousel %}

    <div id="indicators" class="row carousel slide carousel-fade" data-ride="carousel">
      <!-- <div class="col-md-2"></div> -->
      <div class="carousel-inner col-xl-7 col-md-7 col-sm-12 ">
          <ol class="carousel-indicators">
            <li data-target="#indicators" data-slide-to="0" class="active"></li>
            <li data-target="#indicators" data-slide-to="1"></li>
            <li data-target="#indicators" data-slide-to="2"></li>
            <li data-target="#indicators" data-slide-to="3"></li>
          </ol>
        <div class="carousel-item active">
          <img src="../../static/images/inaug3.JPG" class="d-block w-100 img-thumbnail rounded" style="height:350px" alt="g">
        </div>
        <div class="carousel-item">
          <img src="../../static/images/inaug2.JPG" class="d-block w-100 img-thumbnail" style="height:350px" alt="g">
        </div>
        <div class="carousel-item">
          <img src="../../static/images/inaug1.JPG" class="d-block w-100 img-thumbnail" style="height:350px" alt="h">
        </div>
        <div class="carousel-item">
          <img src="../../static/images/inaug4.JPG" class="d-block w-100 img-thumbnail" style="height:350px" alt="h">
        </div>
        <a class="carousel-control-prev" href="#indicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#indicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div> <!-- end carousel-inner, col-md-8-->
      <div id="news" class="col-xl-5 col-md-5 col-sm-12" >
        <div class="card" style="height:350px; background-color: #696">
          <div class="card-body">
            <!-- <h5 class="card-title" style="text-align:center;" >KSM Current Affairs</h5> -->
            <span class="card-title news_head ">KSM VGC News</span>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between ">
                    <h6 class="mb-1 news_title">2nd Degree Inauguartion</h6>
                    <small>3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small>Donec id elit non mi porta.</small>
                </a>
                
                <a href="#" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1 news_title">List group item heading</h6>
                    <small class="text-muted">3 days ago</small>
                  </div>
                  <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                  <small class="text-muted">Donec id elit non mi porta.</small>
                </a>
              </div>
              
              <!-- <ul class="list-group">
                <li class="list-group-item">2nd degree investiture 2019</li>
                <li class="list-group-item">This is a sample text</li>
                <li class="list-group-item">This is a sample text</li>
              </ul> -->
          </div>
        </div>
      </div>
      
    </div> <!-- end carousel div, row id=indicators -->
    
   
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-12">
      <div id="history_pane" class="card">
        <div class="card-body">
            <h5 class="card-title  bg-dark" style="color:antiquewhite; padding: .5rem;">A Brief history of VGC Sub-Council</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed sem ut diam accumsan maximus sit amet eget risus. Nulla maximus mollis venenatis. Maecenas sem leo, placerat id nisl placerat, pellentesque semper ante. Pellentesque tincidunt finibus congue. Proin at odio vitae tortor consectetur fringilla id nec lacus. Nunc pulvinar magna euismod lorem bibendum gravida. Ut pellentesque cursus nulla at varius. Etiam fermentum enim egestas mi venenatis imperdiet. Nunc sed mi ac tortor condimentum porttitor in ut dolor. Duis neque magna, tincidunt a elit nec, iaculis rhoncus nisi. Duis ac purus non diam lobortis rhoncus in eu urna. Nulla sollicitudin metus non dapibus mollis. Etiam interdum ut augue sit amet tincidunt. Vivamus ex metus, convallis vestibulum odio in, pharetra mattis ligula.

              Proin mollis, est a consequat molestie, elit purus interdum est, sed luctus mauris lectus a tellus. Morbi semper justo id mauris pretium elementum. Nunc venenatis convallis blandit. Maecenas suscipit tortor eros, eget fringilla erat rutrum nec. Fusce viverra pretium eros, ac vulputate ex convallis placerat. Donec non velit volutpat, pulvinar justo vel, ullamcorper orci. Praesent malesuada dictum tellus, id imperdiet neque pulvinar non.
              
              Fusce auctor, sapien vel pharetra iaculis, justo dui auctor felis, nec pharetra tellus sapien at turpis. Nam sem mi, luctus sit amet ipsum vel, malesuada eleifend metus. Cras vel tincidunt elit. Maecenas convallis faucibus nulla sed convallis. Cras vel est libero. In laoreet mi posuere, rutrum lacus vitae, laoreet ante. Sed gravida lorem eu tellus laoreet volutpat. Cras sed lorem sed enim bibendum iaculis a vel augue. Nullam finibus turpis justo, eget euismod leo efficitur dictum. Curabitur egestas, mauris sed interdum scelerisque, tortor odio convallis risus, sit amet ornare massa est eget lectus. Phasellus convallis quam quis ligula efficitur euismod. Duis venenatis sed sapien ut blandit. Nam sed felis ultrices, venenatis lorem ut, sollicitudin tortor. Curabitur pretium tristique lobortis.
            </p> 
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">KSM Current Affairs</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div> -->
  </div>
{% endblock %}