{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">VGC SC History</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sed sem ut diam accumsan maximus sit amet eget risus. Nulla maximus mollis venenatis. Maecenas sem leo, placerat id nisl placerat, pellentesque semper ante. Pellentesque tincidunt finibus congue. Proin at odio vitae tortor consectetur fringilla id nec lacus. Nunc pulvinar magna euismod lorem bibendum gravida. Ut pellentesque cursus nulla at varius. Etiam fermentum enim egestas mi venenatis imperdiet. Nunc sed mi ac tortor condimentum porttitor in ut dolor. Duis neque magna, tincidunt a elit nec, iaculis rhoncus nisi. Duis ac purus non diam lobortis rhoncus in eu urna. Nulla sollicitudin metus non dapibus mollis. Etiam interdum ut augue sit amet tincidunt. Vivamus ex metus, convallis vestibulum odio in, pharetra mattis ligula.

              Proin mollis, est a consequat molestie, elit purus interdum est, sed luctus mauris lectus a tellus. Morbi semper justo id mauris pretium elementum. Nunc venenatis convallis blandit. Maecenas suscipit tortor eros, eget fringilla erat rutrum nec. Fusce viverra pretium eros, ac vulputate ex convallis placerat. Donec non velit volutpat, pulvinar justo vel, ullamcorper orci. Praesent malesuada dictum tellus, id imperdiet neque pulvinar non.
              
              Fusce auctor, sapien vel pharetra iaculis, justo dui auctor felis, nec pharetra tellus sapien at turpis. Nam sem mi, luctus sit amet ipsum vel, malesuada eleifend metus. Cras vel tincidunt elit. Maecenas convallis faucibus nulla sed convallis. Cras vel est libero. In laoreet mi posuere, rutrum lacus vitae, laoreet ante. Sed gravida lorem eu tellus laoreet volutpat. Cras sed lorem sed enim bibendum iaculis a vel augue. Nullam finibus turpis justo, eget euismod leo efficitur dictum. Curabitur egestas, mauris sed interdum scelerisque, tortor odio convallis risus, sit amet ornare massa est eget lectus. Phasellus convallis quam quis ligula efficitur euismod. Duis venenatis sed sapien ut blandit. Nam sed felis ultrices, venenatis lorem ut, sollicitudin tortor. Curabitur pretium tristique lobortis.
            </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
  </div>
{% endblock %}