{% extends 'base_member.html' %}
<section>

{% block content %}
    <div id="member_page" class="card">
        <div class="card-body">
            <h4>Member zone</h4>
            {% if member %}
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Details</th>
                        <!-- <th>Settings</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>First Name</td>
                        <td>{{ member.first_name }}</td>
                    </tr>
                    <tr>
                        <td>Other Names</td>
                        <td>{{ member.other_names }}</td>
                    </tr>
                    <tr>
                        <td>Last Name</td>
                        <td>{{ member.last_name }}</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{ member.phone }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{ member.address }}</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ member.email }}</td>
                    </tr>
                    <tr>
                        <td>Date of Birth</td>
                        <td>{{ member.birth_date }}</td>
                    </tr>
                    <tr>
                        <td>Date Initaited</td>
                        <td>{{ member.initiation_date }}</td>
                    </tr>
                    <tr>
                        <td>Date of Investiture</td>
                        <td>{{ member.investiture_date }}</td>
                    </tr>
                    <tr>
                        <td>Home Town</td>
                        <td>{{ member.home_town }}</td>
                    </tr>
                    <tr>
                        <td>State of Origin</td>
                        <td>{{ member.state_of_origin }}</td>
                    </tr>
                </tbody>
            </table>
           
            {% endif %}


        </div>
    </div>
{% endblock %}
</section>