{% extends 'base_member.html' %}
{% block content %}
<!-- {% for message in get_flashed_messages() %}
<div class="alert alert-info">
  <p class="lead">{{ message }}</p>
</div>
{% endfor %} -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Upload Photos</h5>
            <form method="POST" action="{{url_for('upload_file')}}" 
                enctype="multipart/form-data" multiple=multiple>
                <div class="form-group">
                    <!-- <label for="filecaption">Select</label> -->
                    
                    {% if photoType %}
                        <select name="photoType" id="photoSection" class="form-control">
                            {% for type in photoType %}
                                <option value="{{ type.id }}">{{ type.name }}</option>
                            {% endfor %}
                        </select>
                    {% endif %}
                    <br>
                    <!-- <input type="submit" value="Upload" class="btn btn-success form-control"> -->
                </div>
                <div class="form-group">
                    <label for="filecaption">Caption</label>
                    <input type="text" name="filecaption" id="txtcaption" placeholder="Give a brief description of the photo" class="form-control">
                    <br>
                    <!-- <input type="submit" value="Upload" class="btn btn-success form-control"> -->
                </div>
                <div class="form-group">
                    <label for="photoGallery">Select Photo to Upload</label>
                    <input type="file" name="file" id="photoGallery" class="form-control">
                    <br>
                    <input type="submit" value="Upload" class="btn btn-success form-control">
                </div>
            </form>
        </div>
    </div>
   
{% endblock %}